cookbook-backend/*.rbc
cookbook-backend/capybara-*.html
cookbook-backend/.rspec
cookbook-backend/db/*.sqlite3
cookbook-backend/db/*.sqlite3-journal
cookbook-backend/db/*.sqlite3-[0-9]*
cookbook-backend/public/system
cookbook-backend/coverage/
cookbook-backend/spec/tmp
cookbook-backend/*.orig
cookbook-backend/rerun.txt
cookbook-backend/pickle-email-*.html

# Ignore all logfiles and tempfiles.
/cookbook-backend/log/*
/cookbook-backend/tmp/*
!/log/.keep
!/tmp/.keep

# TODO Comment out this rule if you are OK with secrets being uploaded to the repo
cookbook-backend/config/initializers/secret_token.rb
cookbook-backend/config/master.key

# Only include if you have production secrets in this file, which is no longer a Rails default
# config/secrets.yml

# dotenv
# TODO Comment out this rule if environment variables can be committed
cookbook-backend/.env

## Environment normalization:
cookbook-backend/.bundle
cookbook-backend/vendor/bundle

# these should all be checked in to normalize the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
cookbook-backend/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
cookbook-backend/vendor/assets/bower_components
cookbook-backend/*.bowerrc
cookbook-backend/bower.json

# Ignore pow environment settings
cookbook-backend/.powenv

# Ignore Byebug command history file.
cookbook-backend/.byebug_history

# Ignore node_modules
cookbook-backend/node_modules/

# Ignore precompiled javascript packs
cookbook-backend/public/packs
cookbook-backend/public/packs-test
cookbook-backend/public/assets

# Ignore yarn files
cookbook-backend/yarn-error.log
cookbook-backend/yarn-debug.log*
cookbook-backend/.yarn-integrity

# Ignore uploaded files in development
cookbook-backend/storage/*
cookbook-backend/!/storage/.keep
